/* Custome Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Shadows+Into+Light&display=swap');

/* Custome Items */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Open Sans Condensed',
    sans-serif;
    --ff-secondary: 'Shadows Into Light',
    cursive;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25)
        0.125 0.125 0.25em rgba(0, 0, 0, .25);
}
/* Media Queries */

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }

    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }
} 

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro-img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section-subtitle-intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: 0;
        width: calc(100% + 1.5em);
    }

    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    /* .section-title-about,
    .section-subtitle-about {
        grid-column: 1;
    } */

    .section-title-about {
        grid-area: title;
    }

    .about-me-img {
        grid-area: img;
        position: relative;
    }

    .section-subtitle-about {
        grid-column: 1/ -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
}

html {
    scroll-behavior: smooth;
}


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

strong {
    font-weight: var(--fw-bold);
}


/* TYPOGRAPHY */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.section-title {
    margin-bottom: .25em;
}

.section-title-intro {
    font-weight: var(--fw-reg);
}

.section-title-intro strong{
    display: block;
}

.section-subtitle   {
    font-size: var(--fs-h3);
}

.section-subtitle-work-title {
    background: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    /* padding-bottom: 10px; */
    /* border: 5px solid goldenrod; */
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

p.work-title {
    background: #fff;
    text-decoration: none;
    word-spacing: 10px;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: var(--fs-h3);
    /* border: 5px solid goldenrod; */
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.section-subtitle-intro,
.section-subtitle-about {
    padding: .25em;
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}



/* Navigation */
/* nav {
    display: none;
} */

.logo {
    max-width: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000; 
    border: 0;
    cursor: pointer;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after { 
    content: '';
    position: absolute;
    left: 0;
    right: 0; 
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

/* INTRO SECTION */
.intro {
    position: relative
}

.intro-img {
    box-shadow: var(--bs);
}
#home {
    padding-bottom: 0.5em;
}

/* My Services */

.my-services {
    background-color: var(--clr-dark);
    background-image: url('../images/services-bg.jpg');
    background-size: cover;
    color: var(--clr-light);
    text-align: center;

}

.section-title-services {
    color: var(--clr-accent);
    position: relative;
}

.section-title-services::after {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.service {
    max-width: 500px;
    margin: 0 auto;
    float: right;
}

.services {
    margin-bottom: 4em;
}


/* About me section */

.about-me {
    max-width: 1000px;
    margin: 0 auto;

}

.about-me-img {
    box-shadow: var(--bs);
}

#about {
    padding-bottom: 0 !important;
}
/* My Work */
.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

span.tab {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color:rgba(252, 103,103,1)
}

.section-subtitle-work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
}

/* Portfolio */
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item {
    /* background: var(--clr-accent); */
    overflow: hidden;
}

.portfolio-img {
    transition: 
    transform 750ms cubic-bezier(.5 0, .5 1),
    opacity 250ms linear;
    
}

.portfolio-item:focus {
    position: relative;
    z-index: 2;
}

.portfolio-img:hover,
.portfolio-item:focus .portfolio-img {
    transform: scale(1.2);
    opacity: .75;
}

a:visited {
    color: var(--clr-light);
    background-color: transparent;
    text-decoration: none;
}

/* Footer */
.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}



.footer-link:hover,
.social-item-link:hover{
    opacity: .7;
}

.footer-link:hover {
    text-decoration: underline;
}
 
.footer-link {
    font-weight: var(--fw-bold);
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list-item {
    margin: 0 .5em;
}

.social-list-link {
    padding: .5em;
}


/* Skills */ 
section.skills {
    list-style: none;
    background: var(--clr-light);
    text-transform: uppercase;
    color: var(--clr-accent);
    display: flex;
    padding: 0 !important
}

.skill h2 {
    text-align: center;
    font-size: var(--fs-body);
}

.skill h3 {
    margin: 5px;
    font-size: var(--fs-body);
}

.skill {
    width: 500px;
    margin: 40px auto;
    color: var(--clr-accent);
    padding: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.218);
}

.skill li { 
    margin: 20px 0;
    padding: 10px;
}

.bar {
     background: #353b48;
     display: block;
     height: 20px;
     border: 1px solid rgba(0, 0, 0, 0.3);
     border-radius: 10px;
     overflow: hidden;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
     transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1), rgba(252, 103,103,1)100%)
}

.html {
    width: 90%;
    animation: html 3s;
}

.css {
    width: 80%;
    animation: css 3s;
}

.javascript {
    width: 70%;
    animation: javascript 3s;
}

.nodejs {
    width: 60%;
    animation: nodejs 3s;
}

.reactjs {
    width: 55%;
    animation: reactjs 3s;
}

.mysql {
    width: 55%;
    animation: mysql 3s;
}

.python {
    width: 35%;
    animation: python 3s;
}


@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes nodejs {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@keyframes reactjs {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

@keyframes mysql {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 35%;
    }
}

#contact {
    padding-bottom: 0.5em !important;
    background-image: url("../images/75058A3A-0B2F-45F2-B823-C666C3E088BD.jpeg");
    background-position: left center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contact-me {
    text-align: center;
}

.contact-info {
    margin-bottom: 10px;
}

/* .contact-container {
    display: flex;
    flex-direction: row;
    width: 100%;
} */

 

 .contact-form  {
     padding-bottom: 0;
        margin-bottom: 0;
 }
